#header {
    background-color:black;
    color:white;
    text-align:center;
    font-size: larger;
}
#subheader {
    color:black;
    text-align:center;
    padding:15px;
    font-size: large;
    font-weight: bold;
}
#board_table {
    border-width: 1px;
    border-color: black;
}
#board {
   background-color:#eeeeee;
    float: left;
}
table.board_table {
    border-width: 1px;
    border-color: black;
    align: "center";
}
td.blacksquare {
    overflow: hidden;
    background-color:#000000;
    width: 70px;
    text-align: center;
}
td.whitesquare {
    overflow: hidden;
    background-color: #FFFFFF;
    width: 70px;
    text-align: center;
}

tr.column-labels {
    height: 25px;
}

td.column-labels {
    width: 70px;
    text-align: center;
}

tr.row-labels {
    height: 70px;
}

td.row-labels {
    width: 25px;
    text-align: center;
}
#off_board {
    width:20%;
    float:left;
    padding:5px;
    line-height:10px;
}
#moves {
    width : 100% ;
    float : left ;
    padding : 10px ;
}


td a {
    display: block;
    margin: -10em;
    padding: 10em;
}

