@(game:Game)
<!DOCTYPE html>
<div id="subheader">
    Player to move: @game.nextPlayerToGo
</div>


<div id="board">
    <table class = "board_table">

        <tr class = "column-labels">
            <td/>
            @for(i <- 0 to 7) {
                <td class = "column-labels">@i</td>
            }
            </tr>

      @for(y <- game.board.state.indices) {
        <tr class = "row-labels">
            <td class = "row-labels">@y</td>
        @for(x <- game.board.state(y).indices) {
          @if((y % 2 == 0 && x % 2 == 0) || (y % 2 == 1 && x % 2 == 1)){
            <td class="whitesquare">
            } else {
            <td class="blacksquare">
            }
              <a href="#" id="@x,@y" onclick="linkClick(this.id);return false;">
              @if(game.board.state(x)(y).isDefined) {
                  <image src="../assets/images/@game.board.state(x)(y).get.getImageFileName"></image>
              }
              </a>
            </td>
          }
        </tr>
      }
    </table>
</div>

<div id="off_board">

    <br>Players in Check </br>
    @for(entry <- game.playersInCheck) {
         @if(entry._2) {
             <br>@entry._1 </br>
        }
    }

        <br>Pieces Taken </br>
        @for(piece <- game.board.piecesTaken) {
            <br>@piece </br>
        }

</div>