@(gameID: String)
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/board.css">
        <title>Chess</title>
    </head>
    <body>
        <script>

            function linkClick(id) {
                var moveFrom = document.getElementById("MoveFrom");
                var moveTo = document.getElementById("MoveTo");
                if (moveFrom.textContent == "") {
                    moveFrom.textContent = id;
                } else {
                    if (moveTo.textContent == "") {
                        moveTo.textContent = id;
                    } else {
                        moveTo.textContent = "";
                        moveFrom.textContent = id;
                    }
                }
            }

            function setUpXhttp() {
             var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                  if (xhttp.readyState == 4 && xhttp.status == 200) {
                       if(xhttp.getResponseHeader("RESULT") === "SUCCESS") {
                            document.getElementById("chess_board").innerHTML = xhttp.responseText;
                            document.getElementById("MoveFrom").textContent = "";
                            document.getElementById("MoveTo").textContent = "";
                       } else {
                            alert(xhttp.getResponseHeader("RESULT"));
                       }
                  }
                };
                return xhttp;
            }

            function getBoard() {
                var xhttp = setUpXhttp();
                xhttp.open("GET", "board/" +  @gameID, true);
                xhttp.send();
            }

            function submitMove() {
               var xhttp = setUpXhttp();
                xhttp.open("GET", "move/ " + @gameID + "/" + document.getElementById("MoveFrom").textContent + "/" + document.getElementById("MoveTo").textContent, true);
                xhttp.send();
            }

            getBoard();

             function WebSocketTest()
         {
            if ("WebSocket" in window)
            {
               alert("WebSocket is supported by your Browser!");

               // Let us open a web socket
               var ws = new WebSocket("ws://localhost:9000/socket");

               ws.onopen = function()
               {
                  // Web Socket is connected, send data using send()
                  ws.send("Message to send");
                  alert("Message is sent...");
               };

               ws.onmessage = function (evt)
               {
                  var received_msg = evt.data;
                  alert("Message is received..." + received_msg);
               };

               ws.onclose = function()
               {
                  // websocket is closed.
                  alert("Connection is closed...");
               };
            }

            else
            {
               // The browser doesn't support WebSocket
               alert("WebSocket NOT supported by your Browser!");
            }
         }

        </script>
        <div id="header">Chess - Play Framework (Game ID: @gameID)</div>

        <div id="chess_board"></div>
        <div id="moves">
            <table id="move_list">
                <tr>
                    <td>Move From:</td>
                    <td id="MoveFrom"></td>
                </tr>
                <tr>
                    <td>Move To:</td>
                    <td id="MoveTo"></td>
                </tr>
            </table>
            <button id="SubmitMove" onclick="submitMove()">Submit Move</button>
        </div>

        <div id="sse">
            <a href="javascript:WebSocketTest()">Run WebSocket</a>
        </div>
    </body>
</html>